<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}" /> 
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('assets/js/main.js') }}"></script>
    </body>
</html>
